
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Fuentes importadas*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* Modo Oscuro */
#toggle {
    display: none;
}
#umbreonImg {
    position: absolute;
    margin: 100px;
    padding: 100px;
    zoom: 15%;
    top: 115vh;
    right: 265vh;
    cursor: pointer;
}
#espeonImg {
    position: absolute;
    margin: 100px;
    padding: 100px;
    zoom: 15%;
    top: 115vh;
    right: 265vh;
    cursor: pointer;
}
#recuadro{
    position: absolute;
    zoom:10%;
    right: 7100px;
    top: 3500px;
    width: 5000px;
}
.dark {
    background-color: #333;
    color: white;
    transition: all 1.5s ease;
}

/* Imágenes de fondo */
.fondo1 {
    position: absolute;
    height: 78.5%;
    width: 20%;
    background-image: url(https://i.postimg.cc/zGvc2387/background-pkmn1.png);
}
.fondo2 {
    position: absolute;
    height: 78.5%;
    width: 20%;
    left: 80%;
    background-image: url(https://i.postimg.cc/zGvc2387/background-pkmn1.png);
    transform: rotate(-180deg);
}
/*Diseñando para el modo escritorio 
@media screen and (min-width:1000px){
    header{background-color: blueviolet;}
    article{width: 40%;}
}
Para tablets 
@media screen and (min-width:800px){
    html{
    display: flex;
    align-items: center;
    justify-content: space-around;}
}
/* Parte de arriba y título */
/*
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 160px;
    background-color: rgba(186, 12, 12, 0.856);
} 
#titulo{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 230px;
}
*/
header {
    background-color: rgba(186, 12, 12, 0.856);
}
header img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    width: 200px;
}
#titulo{
    width: 300px;
    padding: 10px;
}
.puntos {
    display: flex;
    flex-direction: column;
    align-self: center;
}
/* Primer texto "Busca el Pokémon que quieras aquí */
#buscalo{
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
/* Botón de búsqueda */
.container {
    position: absolute;
    left: 50%;
    top: 32%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
input {
    outline: none;
    box-sizing: border-box;
    height: 35px;
    width: 0;
    padding: 0 20px;
    color: #000;
    border-radius: 50px;
    font-size: 16px;
    border: 1px solid #ccc;
}
::placeholder {
    color: #ccc;
}
.btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.container:hover input {
    width: 330px;
    font-size: 14px;
}

/* Icono de Pokelupa */
#pokemonSearch{
    position: absolute;
    left: 48%;
    top: 55%;
    transform: translate(-50%, -50%);
    zoom: 13%;
}
/* Información de los Pokémon */
#buscador{
    align-self: flex-end;
    display: flex;
    justify-content: center;
    padding: 150px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 0.15rem;
    line-height: 1.5em;
}


footer{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 15px; text-align: center; 
    color: whitesmoke;
    background-color: rgba(186, 12, 12, 0.856);
} 

