@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


html{
    background-image: url(https://i.postimg.cc/JhCFqj0q/background-pkmn1.png);
    background-size: 100%;
}

main {
    margin: 0;
    padding: 0;
    background-image: url(https://i.postimg.cc/tRftHpbZ/background-pkmn2.png);
    justify-items: center;
 
}

/* Diseñando para el modo escritorio 
@media screen and (min-width:1000px){

    header{background-color: blueviolet;}

    article{width: 40%;}

}

/* Para tablets 
@media screen and (min-width:800px){
    html{
    display: flex;
    align-items: center;
    justify-content: space-around;}
}
*/

/* Parte de arriba y título */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    background-color: rgba(186, 12, 12, 0.856);;
}

#titulo{
    width: 200px;
}

/* Primer texto "Busca el Pokémon que quieras aquí */
#buscalo{
    text-align: center;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    margin: 10px;    
}

/* Botón de búsqueda */
.container {
    position: absolute;
    left: 48%;
    top: 25%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

input {
    outline: none;
    box-sizing: border-box;
    height: 35px;
    width: 0;
    padding: 0 20px;
    color: #000;
    border-radius: 50px;
    font-size: 16px;
    border: 1px solid #ccc;
    transition: all .7s ease;
}

::placeholder {
    color: #ccc;
}

.btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.btn i {
    font-size: 40px;
    line-height: 80px;
    transition: all .7s ease;
}

.container:hover input {
    width: 400px;
}

.container:hover i {
    transform: rotate(-360deg);
}

#pokemonSearch{
    position: absolute;
    left: 48%;
    top: 45%;
    transform: translate(-50%, -50%);
    zoom: 13%;
}

#buscador{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 10px;

}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px; text-align: center; 
    color: whitesmoke;
    background-color: rgba(186, 12, 12, 0.856);
} 