*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    background-color: rgba(186, 12, 12, 0.856);;
}

#titulo{
    width: 200px;
}

/*
#elBuscador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: radius 5px red;
}
*/

#elBuscador{
display: grid;
grid-template-columns: auto;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 10px;
margin: 150px;
width: 300px;
position: relative;
border: 3px solid #ccc; 
border-radius: 5px;
outline: none;
gap: 5px;

}

#lupa{
    position: absolute;
    top: 50%;
    right: 28px;
}



div#lupa {
    display: flex;
    align-items:start;
}

div#lupa:hover {
    display: flex;
    align-items:start ; 
}

p{
    font-family: 'Lato', sans-serif;

}

div img{
    width: 30px;
}


footer{
    font-family: 'Roboto', sans-serif;
    font-size:medium; text-align: center; 
    color: whitesmoke;
    background-color: rgba(186, 12, 12, 0.856);
} 