*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuentes importadas*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


@media screen and (min-width: 768px) {
    body {
       margin: auto;
    }
}

@media screen and (max-width: 767px) {
    body {
        margin: auto;
        padding: auto;
    }
}

/* Modo Oscuro */
.contenedorModoNoche {
position: absolute;
zoom: 15%;
margin: 40px;
padding: 40px;
right: 20%;
}

.contenedorModoNoche :hover{
    cursor: pointer;
}

.dark {
background-color: #333;
color: white;
transition: all 0.5s ease;
}

/* Imágenes de fondo */
.fondo1 {
position: absolute;
height: 78.5%;
width: 20%;
background-image: url(https://i.postimg.cc/zGvc2387/background-pkmn1.png);
background-size: cover;
}

.fondo2 {
position: absolute;
height: 78.5%;
width: 20%;
left: 80%;
background-image: url(https://i.postimg.cc/zGvc2387/background-pkmn1.png);
transform: rotate(-180deg);
background-size: cover;
}

/* Estilos del header */
header {
background-color: rgba(186, 12, 12, 0.856);
}

header img {
max-width: 100%;
height: auto;
display: block;
margin: 0 auto;
width: 200px;
}

#titulo{
width: 300px;
padding: 10px;
cursor: pointer;
}

/* "Busca el Pokémon que quieras aquí */
#buscalo{
text-align: center;
padding: 20px;
font-family: 'Roboto', sans-serif;
font-size: 18px;
}

/* Botón de búsqueda */
.container_buscador {
display: flex;
flex-direction: column;
justify-items: center;
align-items: center;
left: 40%;
top: 26%;
padding: 10px;
border-radius: 50px;
}

.container_buscador input {
    width: 330px;
    font-size: 14px;
    }

.container_buscador input:hover{
    background-color: #333;
    color: white;
}

input {
    outline: none;
    box-sizing: border-box;
    height: 35px;
    width: 0;
    padding: 0 20px;
    color: #000;
    border-radius: 50px;
    font-size: 16px;
    border: 1px solid #ccc;
    }
    ::placeholder {
    color: #ccc;
    }
    .btn {
    position: absolute;
    justify-content: center;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    }
    
#pokemonSearch{
position:absolute;
justify-content: center;
top: 195vh;
right: 200vh;
zoom: 13%;
}

/* Información de los Pokémon */
#buscador{
align-self: flex-end;
display: flex;
justify-content: center;
padding: 150px;
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 15px;
letter-spacing: 0.05rem;
line-height: 1.5rem;
}

.ficha{
    position: absolute;
    justify-content: center;
    left: 50%;
    top: 60%;
    padding: 30px;
    margin-top: 30px;
    transform: translate(-50%, -50%);
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 2%;
    width: 300px;
    height: 420px;
    border: solid 1px;
}

.ficha h2{
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: black;
}

.ficha h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.ficha p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    text-align: center;
    color: rgb(0, 0, 0);
    line-height: 30px;
}

footer{
position: fixed;
left: 0;
bottom: 0;
padding: 5px;
width: 100%;
font-family: 'Lato', sans-serif;
font-size: 15px; text-align: center; 
color: whitesmoke;
background-color: rgba(186, 12, 12, 0.856);
} 

